DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

JPA_HIBERNATE=org.hibernate.dialect.PostgreSQLDialect
JPA_DDL_AUTO=

JWT_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=

MAIL_EMAIL=

FRONTEND_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=